@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Landon";
}



<h1>Landon Maxfield</h1>
<img id="picTrack" src="img/track.jpeg" style="width:600px; height:auto;" />
<p>This year in IS 413 I hope to learn how to quickly and effectively create web apps. I hope to become proficient at web development and become confident in my abilities.</p>
<br />

<p>My top 3 jobs when I graduate</p>
<ul>
    <li>Stay at home dad</li>
    <li>Data analyst</li>
    <li>Professional Track runer</li>
</ul>


